<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Image/favicon.ico")" />
    <title>@*@ViewBag.Title ─*@ MLhuillier Inc. Global Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>    
    <header>
        <nav id="hdrLinks">
            
        </nav>
    </header>

    <div id="content-holder">
        @RenderBody()
    </div>

    <footer>
        <nav id="FooterUserInfo" class="" style="color: #AAA;">
            <span id="MLFSI" class="fadeOn">
                &copy; @DateTime.Now.Year M. Lhuillier Financial Services, Inc. Philippines. All Rights Reserved.
            </span>
            <span id="UserInfo" class="fadeOn">
            </span>
        </nav>
    </footer>    
    
    <div id="uiBlocker" class="blockerIn">
        <div class="uiBlocker-content">
            <img id="MLLogo-Diamond" src="~/Image/_MLAjaxLoad.svg" draggable="false" />
            <img id="MLLogo-Ajax-Circle" src="~/Image/_CircleAjaxLoad.svg" draggable="false" />
            <div id="ajxMsg">
                Please Wait...
            </div>
        </div>
    </div>

    <div id="msgModal" class="hidden">
        <div class="col-md-12 msgModal-header">
            Message
        </div>
        <div class="col-md-12 msgModal-content">
            <div id="msgContainer" class="col-md-12">Please Wait...</div>
            <br />
            <center>
                <button onclick="hideModals()" class="btnDefault">- OK -</button>
            </center>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>