<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Image/favicon.ico")" />
    <title>@ViewBag.Title ─ MLhuillier Inc. Global Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body style="background: url('../Image/Sinulog2.jpg') no-repeat fixed #1f0f0f; background-size: cover;">    
    <header>
        <nav id="HeaderMenu" class="" style="text-align: center; color: #AAA; line-height: 50px;">
            @if (ViewBag.Title != "Login")
            {
                <div>
                    Home | Sendout | Payout | Reports | KP2Go | BillsPayment | System
                </div>    
            }
        </nav>
    </header>

    <div id="content-holder">
        @RenderBody()
    </div>

    <footer>
        <nav id="FooterUserInfo" class="" style="color: #AAA;">
            <span id="MLFSI" class="fadeOn">
                &copy; @DateTime.Now.Year M. Lhuillier Financial Services, Inc. Philippines. All Rights Reserved.
            </span>
            <span id="UserInfo" class="fadeOn">
            </span>
        </nav>
    </footer>    
    
    <div id="ajxload" class="ajxLoadOff"
         style="background-color: rgba(0,0,0,0.6); height: 100%; width: 100%; position: fixed; top: 0px;">
        <div id="ajaxified-svg-image"
             style="position: absolute; width: 300px; height: 75px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <img id="MLLogo-Diamond" src="~/Image/_MLAjaxLoad.svg" draggable="false" />
            <img id="MLLogo-Ajax-Circle" src="~/Image/_CircleAjaxLoad.svg" draggable="false" />
            <div id="ajxMsg"
                 style="text-align: center; user-select: none; position: absolute; bottom: 0px; left: 51%; transform: translateX(-50%); color: white; font-size: 13px;">
                Please Wait...
            </div>
        </div>
    </div>

    <div id="msgModal" class="hidden" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; z-index: 2001;">
        <div class="col-md-12" style="background: red; font-size: 18px; color: white; border-top-left-radius: 8px; border-top-right-radius: 8px; padding: 5px; border: 1px solid red;">
            Message
        </div>
        <div class="col-md-12" style="background: white; border-bottom: 2px solid red; border-right: 1px solid red; border-left: 1px solid red; padding: 10px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
            <div id="msgContainer" class="col-md-12" style="text-align: center; margin: 5px;">Please Wait...</div>
            <br />
            <center>
                <button onclick="hideModals()" class="btnDefault">- OK -</button>
            </center>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>